<% content_for :title, "Product Details" %>

<h1 class="text-lg">Details for Product <%= @product.id %></h1>

<div class="flex flex-col gap-2 mt-2">
  <p><%= @product.name %></p>
  <p><%= @product.description %></p>
  <p><%= @product.price %></p>
</div>

<div class="flex flex-row gap-3 mt-3">
  <%= link_to "Back", products_path, class: "text-red-500 cursor-pointer hover:underline" %>
</div>